{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Username : {{name}}</a>
            <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
            </div>
        </div>
        </div>
    </nav>
    <h1>Shopping List Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p><table>   
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
                <td>
                    <a href="{% url 'main:edit_product' product.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_product' product.pk %}">
                          <button>
                              Delete
                          </button>
                      </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
    <!-- <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a> -->
    
    {% endblock content %}

<!-- <table border="1">
        <tr>
            <th colspan="2" bgcolor="yellow">Daftar Produk</th>
        </tr>
        <tr>
            <th>Gambar</th>
            <th>Nama</th>
            <th>Stok</th>
            <th>Harga</th>
            <th>Keterangan</th>
            <th>Date Added</th>
        </tr>
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td><img src= "{{ product.gambar }}" width="150" /></td>
                <td>{{ product.name }}</td>
                <td>{{ product.amount }} buah</td>
                <td>{{ product.price }} /buah</td>
                <td>{{ product.description }}</td>
                <td>{{product.date_added}}</td>
            </tr>
        {% endfor %}
        
    </table> -->